*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    background-color: cadetblue;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 3rem;
    font-family: serif;


}

.bold {
    font-weight:bold ;

}
.italic{
    font-style: italic;
}
.underline{
text-decoration: underline;
}
#bluebtn  {
    color: blue;
}
.colorblue{

color: blue;
}

.listbtn{
    display: flex;
    justify-content: center;
    margin: 20px;
    gap: 1rem;
}

.listbtn button {
 
font-size: 3rem;
font-family: monospace;
border: 2px solid transparent;
border-radius: 2rem;
color: black;
border: 2px;
padding: 10px 20px;
cursor: pointer;
}

#text {
    margin: 0px auto;
    width: 80vw;
    font-size: 3rem;
}
.cnt-textarea {
    display: flex;
    font-family: monospace;
}

.selected{
    border: 2px solid black !important;
}
